* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background: #091637;
    width: 100wh;
    height: 70px;
}

body {
    background: #050E25;
    overflow-y: scroll;
}

.logo {
    color: white;
    position: absolute;
    top: 21px;
    left: 5px;
    display: none;
}

.head {
    margin: 10px 20px;
}

.left-nav {
    display: inline;
    float: right;
}

.light {
    margin: 20px 4px;
    cursor: pointer;
    padding: 4px;
    background: #011B3A;
    border-radius: 100%;
    box-shadow: 0 0 9px 0px black;
}

.dark {
    margin: 23px 0px;
    cursor: pointer;
}

.notification {
    margin-block: 23px;
    margin-left: 9px;
    cursor: pointer;

}

.acc {
    padding: 5px;
    background: #257EE0;
    border-radius: 100%;
    margin: 15px 6px;
    margin-right: 100px;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px 10px;
    position: absolute;
    background: transparent;
    top: 15px;
    right: 57px;
    cursor: pointer;
}

.exit {
    margin: 22px;
    margin-right: 30px;
    cursor: pointer;
}

.left {
    background: #011B3A;
    width: 550px;
    height: 120vh;
    margin-top: -10px;
    display: inline-flex;
}

.left ul {
    padding: 1px;
}

.left ul li {
    list-style: none;
    margin-top: 30px;
}

.left ul li a {
    font-size: 1rem;
    padding-left: 45px;
    text-decoration: none;
    color: white;
    border-left: 5px solid transparent;
}

.left ul li img {
    margin-left: 24px;
}

.left ul li .active {
    border-left: 5px solid green;
    color: #4FC2D9;

}

.left ul li a:hover {
    border-left: 5px solid green;
    color: #4FC2D9;
}

.left ul li img {
    margin-right: 10px;
    margin-left: -30px;
    position: absolute;
}

.container {
    display: flex;
}

.right {
    padding: 10px;
}

.right h1 {
    color: white;
    padding: 10px;
    display: inline-block;
}
.question{
    width: 1150px;
    height: 50px;
    background: #021D3E;
    display: -webkit-inline-box;
    border-radius: 5px;
    overflow: hidden;
}
.container img{
    margin: -5px 15px;
}
.container input{
    margin:  15px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 800px;
}
.right .add{
    margin-left: 605px;
    margin-block: 25px;
    width: 188px;
    height: 51px;
    border: 1px solid #4FC2D9;
    background: transparent;
    color: #4FC2D9;
    border-radius: 10px;
    cursor: pointer;
}
.right ul li{
    width: 1150px;
    height: 51px;
    background: #021D3E;
    padding: 17px 59px;
    color: white;
    margin-top: 10px;
    list-style: none;
    position: relative;
    overflow: hidden;
}
.right ul li::before{
    content: '';
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background: url(Group\ 1000001074.png);
    background-position: center;
    background-size: cover;
    top: 12px;
    left: 15px;
    position: absolute;
}
.right .submit{
    width: 188px;
    height: 51px;
    background: #257EE0;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-left: 930px;
    margin-top: 30px;
    cursor: pointer;
}
.right .submit a{
    color: white;
    text-decoration: none;
}
@media(max-width:2230px) {
    .left {
        width: 320px;
    }
}

@media(max-width:1555px) {
    .left {
        height: 112vh;
        width: 345px;
    }
    .right ul li{
        width: 930px;
    }
    .right .add{
        margin-left: 408px;
    }
    .right .submit{
        margin-left: 735px;
    }
    .question{
        width: 930px;
    }
}

@media(max-width:1139px) {

    .left {
        width: 270px;
    }
    .question,.right ul li{
        width: 630px;
    }
    .right .add{
        margin-left: 115px;
    }
    .right .submit{
        margin-left: 440px;
    }
    .container input{
        width: 500px;
    }
}

@media(max-width:1024px) {

    .left {
        width: 305px;
    }
}

@media(max-width:918px) {

    .left {
        width: 320px;
        height: 130vh;
    }
    .question,.right ul li{
        width: 500px;
    }
    .right .add{
        margin-left: 10px;
        width: 166px;
    }
    .right .submit{
        margin-left: 330px;
        width: 166px;
    }
    .container input{
        width: 400px;
    }
}

@media(max-width:808px) {

    .left {
        width: 60px;
        height: 97vh;
    }

    .left ul li img {
        position: relative;
        margin-left: 14px;
    }

    .left ul li a span {
        display: none;
    }

    .left ul li a {
        padding-left: 0px;
    }

    .left ul li .active {
        border-left: none;
        padding-left: 5px;
    }

    .left ul li a:hover {
        border: none;
    }

}

@media(max-width:636px) {

    nav a {
        display: none;
    }

    .acc {
        margin-right: -5px;
    }

    .left {
        height: 97vh;
    }
    .right .add{
        margin-left: 50px;
        width: 110px;
    }
    .question,.right ul li{
        width: 420px;
    }
    .right h1 {
        font-size: 25px;
    }
    .right .submit {
        margin-left: 305px;
        width: 111px;
    }
    .container input{
        width: 300px;
    }
}

@media(max-width:496px) {


    nav a {
        display: none;
    }

    .acc {
        margin-right: -5px;
    }

    .left ul li img {
        margin-left: 15px;
    }

    .left {
        height: 97vh;
    }
    .right .add {
        margin-left: 0px;
        width: 100px;
    }
    .question, .right ul li {
        width: 362px;
    }
    .right .submit {
        margin-left: 260px;
        width: 100px;
    }
    .container input{
        width: 280px;
    }
}

@media(max-width:494px) {
    nav a {
        display: none;
    }

    nav {
        height: 55px;
    }

    .acc {
        margin-right: -17px;
    }

    .notification {
        margin-left: 4px;
    }

    .exit {
        margin-right: 5px;
    }

    .light {
        margin: 23px 5px;
    }

    .left ul li img {
        margin-left: 15px;
    }

    .head {
        margin: 16px;
        width: 105px;
    }

    .exit {
        margin-right: 10px;
    }

    .left-nav .dark,
    .light,
    .notification,
    .exit {
        width: 17px;
    }

    .left {
        height: 95vh;
    }
    .container input{
        width: 160px;
    }

}

@media(max-width:470px) {
    .exit {
        margin: 24px 3px;
        margin-right: 7px;
    }

    .acc {
        margin: 15px 1px;
    }

    .left-nav .dark,
    .light,
    .notification,
    .exit {
        margin: 24px 2px;
    }

    .left {
        height: 125vh;
    }
    .right h1 {
        font-size: 20px;
    }
    .question, .right ul li {
        width: 245px;
    }
    .right .submit {
        margin-left: 0px;
        width: 100px;
    }
    .right .add {
        margin-left: 4px;
        width: 100px;
    }

}
@media(max-width:325px) {
    .left {
        height: 150vh;
    }
    .container img {
        margin: -10px 5px;
    }
    .right ul li::before{
        left: 5px;
    }
    .right ul li{
        padding: 15px 30px;
    }
    .question, .right ul li {
        width: 200px;
    }
    .container input{
        margin: 0px 43px
    }
    .container img {
        margin: -24px 5px;
    }
    .right h1 {
        font-size: 18px;
    }
}