* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    background: #091637;
    width: 100wh;
    height: 70px;
}

body {
    background: #050E25;
    overflow-y: scroll;
}

.logo {
    color: white;
    position: absolute;
    top: 21px;
    left: 5px;
    display: none;
}

.head {
    margin: 10px 20px;
}

.left-nav {
    display: inline;
    float: right;
}

.light {
    margin: 20px 4px;
    cursor: pointer;
    padding: 4px;
    background: #011B3A;
    border-radius: 100%;
    box-shadow: 0 0 9px 0px black;
}

.dark {
    margin: 23px 0px;
    cursor: pointer;
}

.notification {
    margin-block: 23px;
    margin-left: 9px;
    cursor: pointer;

}

.acc {
    padding: 5px;
    background: #257EE0;
    border-radius: 100%;
    margin: 15px 6px;
    margin-right: 100px;
    cursor: pointer;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 10px 10px;
    position: absolute;
    background: transparent;
    top: 15px;
    right: 57px;
    cursor: pointer;
}

.exit {
    margin: 22px;
    margin-right: 30px;
    cursor: pointer;
}

.left {
    background: #011B3A;
    width: 322px;
    height: 250vh;
    margin-top: -10px;
    display: inline-flex;
}

.left ul {
    padding: 1px;
}

.left ul li {
    list-style: none;
    margin-top: 30px;
}

.left ul li a {
    font-size: 1rem;
    padding-left: 45px;
    text-decoration: none;
    color: white;
    border-left: 5px solid transparent;
}

.left ul li img {
    margin-left: 24px;
}

.left ul li .active {
    border-left: 5px solid green;
    color: #4FC2D9;

}

.left ul li a:hover {
    border-left: 5px solid green;
    color: #4FC2D9;
}

.left ul li img {
    margin-right: 10px;
    margin-left: -30px;
    position: absolute;
}

.container {
    display: flex;
}

.right {
    padding: 10px;
}

.right h2 {
    color: white;
    padding: 10px;
}

.acc1 {
    display: inline-block;
}

.acc1 img {
    background-color: #257EE0;
    border-radius: 100%;
    padding: 5px;
    margin-top: 25px;
}

.box1 {
    margin-left: 10px;
    display: -webkit-inline-box;
    background: #091637;
    width: 1077px;
    height: 74px;
}
.right video{
    cursor: pointer;
}

.box1 input {
    margin-top: 37px;
    color: white;
    background: transparent;
    outline: none;
    border: none;
    margin-left: 10px;
}

.line {
    width: 1px;
    height: 60px;
    margin-top: 9px;
    background: white;
    margin-left: 50pc;
}

.send {
    padding: 5px;
    background: #050E25;
    border-radius: 100%;
    margin-top: 20px;
    margin-left: 30px;
    cursor: pointer;
}

.acc2 {
    display: inline-block;
}

.acc2 img {
    background-color: #4FC2D9;
    border-radius: 100%;
    padding: 5px;
    margin-top: 25px;
}

.box2 {
    margin-left: 10px;
    display: -webkit-inline-flex;
    background: #091637;
    width: 1077px;
    height: 82px;
}
.box2 h4{
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 18px;
}
.box2 span{
    margin-top: 5px;
    margin-left: 10px;
    background: #032247;
    color: #4FC2D9;
    display: inline-block;
    margin-bottom: 50px;
    border-radius: 5px;
    padding: 1px 6px;
    font-size: 14px;
}
.box2 ul li{
    margin-top: 40px;
    margin-left: -218px;
    color: white;
    font-size: 14px;
}
.reply{
    margin-left: 45px;
    margin-top: 10px;
    font-size: 14px;
    color: #4FC2D9;
}
.rep-arrow{
    margin-left: 45px;
    margin-top: 20px;
}
.acc3{
    background: #257EE0;
    border-radius: 100%;
    padding: 5px;
    margin-top: 10px;
}
.thanks{
    display: inline-block;
    color: white;
    margin-left: 10px;
}
.acc4{
    display: inline-block;
}
.acc4 img{
    padding: 5px;
    background: #4FC2D9;
    border-radius: 100%;
    margin-left: 62px;
    margin-top: 20px;
}
.last{
    display: -webkit-inline-box;
    width: 990px;
    height: 42px;
    background: #091637;
    margin-left: 10px;
    border-radius: 5px;
}
.last input{
    margin-top: 15px;
    background: transparent;
    outline: none;
    border: none;
    color: white;
}
.last-line{
    width: 1px;
    height: 30px;
    background: white;
    margin-top: 5px;
    margin-left: 47pc;
}
.last-send{
    padding: 5px;
    background: #050E25;
    border-radius: 100%;
    margin-top: 2px;
    margin-left: 15px;
    cursor: pointer;
}

@media(max-width:2230px) {
    .left {
        width: 220px;
    }
}

@media(max-width:1555px) {
    .left {
        height: 145vh;
    }

    .right .inner-right {
        width: 945px;
    }

    .box1,
    .box2,
    .box3 {
        width: 828px;
    }

    .line {
        margin-left: 560px;
    }

    .last {
        width: 738px;
    }

    .last-line {
        margin-left: 485px;
    }
    .right video{
        width: 900px;
    }
}

@media(max-width:1139px) {

    .left {
        width: 220px;
    }

    .right .inner-right {
        width: 560px;
    }

    .box1,
    .box2,
    .box3 {
        width: 450px;
    }

    .box1 h4 {
        margin-left: 235px;
    }

    .box3 h6 {
        margin-left: 75px;
    }

    .line {
        margin-left: 180px;
    }

    .box3 li {
        font-size: 12px;
    }

    .last {
        width: 365px;
    }

    .last-line {
        margin-left: 118px;
    }
    .right video{
        width: 820px;
    }
    .right video{
        width: 730px;
    }

}

@media(max-width:1024px) {

    .left {
        width: 220px;
    }

    .line {
        margin-left: 185px;
    }

    .box3 ul {
        margin-left: -215px;
    }

    .box3 li {
        font-size: 10px;
        padding: 0;
    }

    .last {
        width: 200px;
    }

    .last-line {
        margin-left: -44px;
    }
}

@media(max-width:918px) {

    .left {
        width: 220px;
        height: 150vh;
    }
    .right video{
        width: 550px;
    }
}

@media(max-width:808px) {

    .left {
        width: 60px;
        height: 150vh;
    }

    .left ul li img {
        position: relative;
        margin-left: 14px;
    }

    .left ul li a span {
        display: none;
    }

    .left ul li a {
        padding-left: 0px;
    }

    .left ul li .active {
        border-left: none;
        padding-left: 5px;
    }

    .left ul li a:hover {
        border: none;
    }

}

@media(max-width:636px) {

    nav a {
        display: none;
    }

    .acc {
        margin-right: -5px;
    }

    .left {
        height: 150vh;
    }
    .right video{
        width: 430px;
    }
    .box1, .box2, .box3 {
        width: 400px;
    }
    .line {
        margin-left: 134px;
    }
    .reply{
        margin-left: 10px;
    }
    .rep-arrow{
        margin-left: 10px;
    }
    .acc4 img{
        margin-left: 30px;
    }
}

@media(max-width:494px) {
    nav a {
        display: none;
    }

    nav {
        height: 55px;
    }

    .acc {
        margin-right: -17px;
    }

    .notification {
        margin-left: 4px;
    }

    .exit {
        margin-right: 5px;
    }

    .light {
        margin: 23px 5px;
    }

    .left ul li img {
        margin-left: 15px;
    }

    .head {
        margin: 16px;
        width: 105px;
    }

    .exit {
        margin-right: 10px;
    }

    .left-nav .dark,
    .light,
    .notification,
    .exit {
        width: 17px;
    }

    .left {
        height: 150vh;
    }
    .right video {
        width: 220px;
    }
    .box1, .box2, .box3 {
        width: 220px;
    }
    .line {
        margin-left: -20px;
    }
    .send{
        margin-left: 10px;
    }

}

@media(max-width:470px) {
    .exit {
        margin: 24px 3px;
        margin-right: 7px;
    }

    .acc {
        margin: 15px 1px;
    }

    .left-nav .dark,
    .light,
    .notification,
    .exit {
        margin: 24px 2px;
    }

    .right h1 {
        font-size: 20px;
    }

    .left {
        height: 160vh;
    }

    .acc1,
    .acc2,
    .acc3 {
        padding: 5px;
    }

    .right .inner-right {
        width: 250px;
    }

    .reply,
    .rep-arrow {
        margin-left: 50px;
    }

    .last {
        width: 100px;
    }

    .last input {
        font-size: 10px;
        margin-left: 5px;
        width: 80px
    }

    .last-send {
        padding: 2px;
        background: #050E25;
        border-radius: 100%;
        margin-top: 10px;
        margin-left: 0px;
        width: 20px;
    }

    .last-line {
        margin-left:-5px;
    }

    .thanks{
        font-size: 10px;
    }
    .box2 h4{
        font-size: 12px;
    }
    .box2 span{
        font-size: 10px;
    }
    .box2 ul li{
        font-size: 10px;
        margin-left: -163px;
    }

}

@media(max-width:325px) {
    .left {
        height: 165vh;
    }
}